body {
  font-family: 'Quicksand', sans-serif;
}

.images {
  margin-bottom: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.jumbotron {
    background-image: url("./memory-game-jumbotron-image.jpg");
    background-size: cover;
    color: white;
    padding-top: 10%;
    box-shadow: 0px 10px 10px grey;
}

a:hover {
  text-decoration:none;
}

#headerTitle {
  font-weight: bolder;
  text-align: center;
  color: gold;
}

#headerTitle:hover {
  color: grey;
}

.header {
  color: white;
  text-decoration: none;
}

.container {
  margin-bottom: 73px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  background-color: darkslategrey;
  text-align: center;
  height: 35px;
  box-shadow: 10px 0px 20px grey;
  position: absolute;
}

#footerText {
  margin: 10px 0 0 0;
  font-weight: bolder;
  text-align: center;
  color: gold;
}

@media only screen and (max-width : 640px) {
  .header {
    font-size: 12px;
  }
  }